# Firebase Configuration
# Скопіюйте цей файл як .env та заповніть своїми значеннями

VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project_id.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
VITE_FIREBASE_APP_ID=your_app_id

# Приклад:
# VITE_FIREBASE_API_KEY=AIzaSyBG_7ylcdh_wjOfUNNZD_Xh4lyu9fvrLHU
# VITE_FIREBASE_AUTH_DOMAIN=dream-planner-60776.firebaseapp.com
# VITE_FIREBASE_PROJECT_ID=dream-planner-60776
# VITE_FIREBASE_STORAGE_BUCKET=dream-planner-60776.appspot.com
# VITE_FIREBASE_MESSAGING_SENDER_ID=529813336237
# VITE_FIREBASE_APP_ID=1:529813336237:web:a42aabea933755fde09624




// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyBG_7ylcdh_wjOfUNNZD_Xh4lyu9fvrLHU",
  authDomain: "dream-planner-60776.firebaseapp.com",
  projectId: "dream-planner-60776",
  storageBucket: "dream-planner-60776.firebasestorage.app",
  messagingSenderId: "529813336237",
  appId: "1:529813336237:web:a42aabea933755fde09624"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);