@use "@/styles/variables.scss" as *;

.container {
    max-width: 520px;
    margin: 0px auto;
    padding: 24px;
    background: $color-surface;
    border-radius: 14px;
    box-shadow:
        0 2px 12px rgba($color-accent-dark, 0.08),
        inset 0 2px 24px 0 #0000004b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 24px;
    color: $color-text;
}

section {
    margin-bottom: 32px;
}

main {
    min-height: 300px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
