.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}

.main-content-wrapper {
  display: flex;
  flex: 1;
  padding-top: 4rem;
}

.main-content {
  flex: 1;
  padding: 1.5rem;
  max-width: 64rem;
  margin: 0 auto;
}
