.pagination {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, auto));
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
}

.paginationBtn {
    width: 50px;
    min-height: 40px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin: 0;
    padding: 0 14px;
    background: #f9f9f95d;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    color: #222;
    box-shadow: inset 0 0px 5px 5px rgba(0, 0, 0, 0.377);
}

.paginationBtn:hover:not(:disabled) {
    background: #2d4b63;
    /* border-color: #3498db; */
    color: #fffafa;
    box-shadow: inset 0 0px 5px 5px rgba(0, 0, 0, 0.377);
}

.active {
    background: #05484d;
    color: #fff;
    font-weight: bold;
    /* border: 1.5px solid #05484d; */
    box-shadow: 0 2px 8px rgba(52, 152, 219, 0.1);
    box-shadow: inset 0 0px 5px 5px rgba(0, 0, 0, 0.377);
}

.paginationBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .pagination {
        margin-top: 10px;
        gap: 5px;
    }
    .paginationBtn {
        width: 32px;
        min-height: 32px;
        font-size: 14px;
        border-radius: 5px;
        padding: 0 6px;
    }
}
